fastapi==0.104.1
uvicorn==0.24.0
python-multipart==0.0.6
Pillow==10.1.0
tensorflow==2.21.0
tensorflow-datasets==4.9.4
matplotlib==3.10.3
pre-commit==4.2.0
bandit==1.8.3
black==24.10.0
flake8==7.1.1
mypy==1.15.0
pylint==3.3.7